.intro-container {
    width: auto;
}

.intro-top {
    display: table-cell;
    vertical-align: top;
    width: 100%;
    height: 100%;
}

#intro-svg {
    margin-top: 10%;
    display: block;
    position: relative;
}

#intro-svg>text {
    fill: #515769;
    font-weight: 500;
}

#intro-svg>tspan {
    padding: 0;
    margin: 0;
    opacity: 0;
}

#intro-svg>line, #intro-svg>polyline, #intro-svg>ellipse {
    stroke: #c60021;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3.75;
    opacity: 0;
    stroke-miterlimit: 10;
}

#intro-svg>path {
    stroke: #c60021;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2.25;
    opacity: 0;
    stroke-miterlimit: 10;
}

#intro-svg>.dec {
    stroke-width: 3;
}

#intro-svg>.underline {
    stroke-width: 5;
    stroke-linecap: butt;
    opacity: 1;
}

#intro-svg>.dot {
    opacity: 1;
}

#intro-svg>.purple {
    stroke: #B191FF;
}

#intro-svg>.green {
    stroke: #0ba360;
}

#intro-svg>.plum {
    stroke: #843B62;
}

#intro-svg>.blue {
    stroke: #241E4E;
}

#intro-svg>.first {
    stroke: #929d9e;
}

#intro-svg>.second {
    stroke: #7da2a9;
}

#intro-svg>.third {
    stroke: #B191FF;
}

#intro-svg>.fourth {
    stroke: #438945;
}

.green {
    stroke: #2d948d;
}

#intro-svg>.yellow {
    stroke: #e8d320;
}

#intro-svg>.pink {
    stroke: #ee7d8f;
}

#intro-svg>.red {
    stroke: #f15c27;
}

.health {
    fill: #0ba360;
}

.contentinfo {
    color: #fff;
}

@media (min-width: 992px) {

    /* #intro-svg {
        width: 80%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    } */
}