$default-white: #ffffff;
$default-background-color: #0b2747; //#0ba360;
$default-border-color: #005276; //#4c7a66;
$default-sub-text: #e6e6e6;
$default-body-background: #fcfcfc;
$default-control-label-bg: #efefef;
$default-required-color: #f45858;
$default-control-label-color: #bfc1c7;
$default-input-border-color: #dddddd;
$default-btn-hover-color: #515769;
$defautl-foot-border: #f3f3f3;
$default-foot-color: #666;
$default-invalidated-color: #005276; //#5e7c6f;
$default-passed-color: #00818f; //#0ba360;
$default-extended-tab: #dce2d0;
$background-dusk-gradient: linear-gradient(to left top, #c8c8c8, #c7c6c6, #efefef);
$default-hover-color: #ff3d25;
$notification-color: #515769;
$input-background-color: #e6e6e6;
$form-control-color: #495057;
$form-control-border-color: #ced4da;
$outline-color: #515769;
$input-hover-border-color: #00818f;
$input-text-color: #515769;
$text-muted: #6c757d !important;
$fullpage-cover-color: #C8C8C8;