@import "./account.variable.scss";
@import "../sass/checkbox.scss";

.dash {
    margin: auto;
    display: block;
    color: $default-font-color;
    font-family: inherit;

    .dashboard-vue {
        .header {
            .greeting {
                text-align: center;

                .greet {
                    font-size: 1em;
                }

                .today {
                    font-size: .5em;
                }
            }
        }
    }
}
