@import "./account.variable.scss";

@media (orientation: portrait) and (max-width: 414px) {

  .home {
    .intro-collage-vue
     {
      .collage-image {
        width: 95%;
      }
      .quote {

        blockquote {
          font-size: 0.875rem;
        }

        .detail {
          font-size: 0.7em;
        }
      }
    }

    .contact-vue {
      width: 95%;

      .content {
        .split {
          display: block;
          .split-half-right {
            width: 100%;
          }
        
          .split-half-left {
            width: 100%;
          }
        }

        .heading {
          text-indent: 1em;
          margin-bottom: 2vh;
        }
        
        .other-info {
          text-indent: 1em;
          line-height: .5;

          section {
            
            margin-left: 4%;
            .title {
              font-size: 1rem;
              font-weight: 500;
              letter-spacing: .1em;
            }
  
            p {
              letter-spacing: .04em;
              font-size: .875rem;
            }
          }
        }
      }
    }
  }
}
@media(height: 568px) and (width: 320px) {
  .home {

    .contact-vue {

      .content {

        form textarea {
          min-height: 60px;
        }

        .form-control {
          height: 1.775rem;
        }

        .heading {
          margin-bottom: .575vh;
        }

        .other-info {
          line-height: .5;
          font-weight: 400;
          section {
            
            margin-left: 4%;
            padding-top: 1%;
            
            .title {
              font-size: .875rem;
              letter-spacing: .1em;
            }
  
            p {
              letter-spacing: .04em;
              font-size: .675rem;
            }
          }
        }

      }

      // .content {
      //   overflow-y: visible;
      //   .split {
      //     display: block;
      //     .split-half-right {
      //       width: 100%;
      //     }
        
      //     .split-half-left {
      //       width: 100%;
      //     }
      //   }

      //   .heading {
      //     text-indent: 1em;
      //     margin-bottom: 2vh;
      //   }
        
      //   .other-info {
      //     margin: auto;
      //     display: block;
      //     text-indent: 1em;
      //     line-height: .5;
      //     color: $input-text-color;
      //     font-weight: 400;
      //     section {
            
      //       margin-left: 4%;
      //       .title {
      //         font-size: 1rem;
      //         font-weight: 500;
      //         letter-spacing: .1em;
      //       }
  
      //       p {
      //         letter-spacing: .04em;
      //         font-size: .875rem;
      //       }
      //     }
      //   }
      // }
    }
  }
}

@media (height: 667px) and (width: 375px) {
  .footer-vue {
    line-height: 1;
  }
  .home {
    .intro-collage-vue {
      .quote {

        blockquote {
          font-size: 1.1em;
        }
      }
    }

    .contact-vue {
      width: 95%;

      .content {
        .split {
          padding-bottom: 1%;
          display: block;
          .split-half-right {
            width: 100%;
            
          }
        
          .split-half-left {
            width: 100%;
          }
        }

        .heading {
          text-indent: 1em;
          margin-bottom: 1vh;
        }
        
        .other-info {
          margin: auto;
          display: block;
          text-indent: 1em;
          line-height: .5;
          color: $input-text-color;
          font-weight: 400;
          section {
            
            .title {
              font-size: 1rem;
              font-weight: 500;
              letter-spacing: .1em;
            }
  
            p {
              letter-spacing: .04em;
              font-size: .875rem;
            }
          }
        }
      }
    }
  }
}

@media (height: 731px) and (width: 411px) {
  .home {
    .intro-collage-vue {
      .quote {

        blockquote {
          font-size: 1.1em;
        }

        .detail {
          font-size: 0.8rem;
        }
      }
    }
  }
}

@media (height: 736px) and (width: 414px) {
  .home {
    .intro-collage-vue {
      .about-banner {
        width: 95%;
      }
      .quote {

        blockquote {
          font-size: 1.2rem;
        }

        .detail {
          font-size: 0.6em;
        }
      }
    }
  }
}

@media (height: 812px) and (width: 375px) {
  .home {
    .intro-collage-vue {
      .quote {

        blockquote {
          font-size: 1.1em;
        }

        .detail {
          font-size: 0.7em;
        }
      }
    }
  }
}

@media (height: 823px) and (width: 411px) {
  .home {
    .intro-collage-vue {
      .quote {

        blockquote {
          font-size: 1.1rem;
        }

        .detail {
          font-size: 0.7em;
        }
      }
    }
  }
}



// Landscape
@media (orientation: landscape) and (max-height: 414px) {
  
  .home {

    .intro-splash-vue {
      .top-wrapper {
        width: 135vh;
        height: 40vh;
      }

      .bottom-wrapper {
        width: 125vh;
        height: 55vh;
      }
    }

    .intro-collage-vue {
      .people-text {
        height: 22vh;
        width: 118vh;
      }

      .collage-image {
        width: 90vh;
      }

      .quote {
        width: 85%;
        blockquote {
          font-size: 0.975rem;
        }

        .detail {
          font-size: 0.6em;
        }
      }
    }

    .contact-vue {
      width: 97%;

      .content {

        form textarea {
          min-height: 60px;
        }

        .form-control {
          height: 1.775rem;
          
        }

        button {
          padding: .25%;
        }

        .heading {
          text-indent: 1em;
          margin-bottom: 2vh;
        }

        .landscape {
          .heading {
            text-indent: .2em;
          }
        }

        
        .other-info {
          text-indent: 1em;
          line-height: .5;
          
          section {
            
            margin-left: -3%;
           
            .title {
              font-size: 1rem;
              font-weight: 500;
              letter-spacing: 1em;
            }
            
            .landscape-contact {
              color: $default-white;
            }

            p {
              letter-spacing: .08em;
              font-size: .775rem;
            }
          }
        }
      }
    }

    .footer-vue {
      right: 10px;
      left: 10px;
      bottom: -5px;

      .social small{
        display: none;
      }
    }

  }

}

@media (width: 667px) and (height: 375px) {
  .home {
    .intro-collage-vue {

      .quote {

        blockquote {
          font-size: 1rem;
        }

        .detail {
          font-size: 0.7em;
        }
      }
    }

    .content-vue {
      .content {
        .landscape-contact {
          letter-spacing: .145em;
        }
      }
    }

    #footer-vue {
      right: 5px;
      left: 5px;
    }
  }
}

@media (width: 731px) and (height: 411px) {
  .home {
    .intro-collage-vue {

      .quote {

        blockquote {
          font-size: 1rem;
        }

        .detail {
          font-size: 0.7em;
        }
      }
    }

    .contact-vue {
      .content {
        .other-info {
          section {
            margin-left: -2%;
            p {
              letter-spacing: .13em;
            }
          }
          
        }
      }
    }

    #footer-vue {
      right: 5px;
      left: 5px;
    }
  }
}

@media (width: 736px) and (height: 414px) {
  .home {
    .intro-collage-vue {

      .quote {
        blockquote {
          font-size: 1.1rem;
        }

      
      }
    }

    .contact-vue {
      .content {
        .other-info {
          section {
            p {
              letter-spacing: .14em;
            }
          }
          
        }
      }
    }

    #footer-vue {
      right: 5px;
      left: 5px;
    }
  }
}

@media (width: 812px) and (height: 375px) {

  .home {
    .intro-collage-vue {

      .quote {

        blockquote {
          font-size: 1rem;
        }

        .detail {
          font-size: 0.7em;
        }
      }
    }

    .contact-vue {
      .content {
        .other-info {
          section {
            margin-left: -2%;
            p {
              letter-spacing: .2em;
            }
          }
          
        }
      }
    }

    .footer-vue {
      left:30px;
      #footer-vue {
        right: 10px;
        left: 10px;
      }
    }
  }

 
}

@media (width: 823px) and (height: 411px) {
  .home {
    .intro-collage-vue {

      .quote {
        blockquote {
          font-size: 1.2rem;
        }

        .detail {
          font-size: 0.7em;
        }
      }
    }

    .contact-vue {
      .content {
        .other-info {
          section {
            margin-left: -2%;
            p {
              letter-spacing: .22em;
            }
          }
          
        }
      }
    }

    .footer-vue {
      left:20px;
      #footer-vue {
        right: 10px;
        left: 10px;
      }
    }
  }
}

@media(width: 1024px) and (max-height: 768px) {
  .home {
    .intro-splash-vue {
      line-height: 1.5;
      .top-wrapper {
        max-height: 45vh;
        min-width: 100%;
      }

      .bottom-wrapper {
        max-height: 55vh;
        min-width: 100%;
      }
    }

    .intro-collage-vue {
      .people-text {
        max-width: 90%;
        max-height: 25vh;
      }

      .collage-image {
        max-width: 103vh;
      }

      .quote {

        blockquote {
          font-size: 1.5rem;
        }

        .detail {
          font-size: 0.6em;
        }
      }
    }

    .footer-vue {
      left:20px;
      #footer-vue {
        right: 10px;
        left: 10px;
      }
    }

  }
}

@media(width: 1112px) and (max-height: 834px) {
  .home {

    .intro-splash-vue {
      line-height: 1.5;
      .top-wrapper {
        max-height: 45vh;
        min-width: 100%;
      }

      .bottom-wrapper {
        max-height: 55vh;
        min-width: 100%;
      }
    }

    .intro-collage-vue {
      .people-text {
        height: 25vh;
      }

      .collage-image {
        max-width: 103vh;
      }

      .quote {
        width: 90%;

        blockquote {
          font-size: 1.6rem;
        }

        .detail {
          font-size: 0.5em;
        }
      }
    }
  }
}

// @media(width: 1113px) {
//   .home {

//     .intro-splash-vue {
//       line-height: 1.5;
//       .top-wrapper {
//         max-height: 45vh;
//         min-width: 100%;
//       }

//       .bottom-wrapper {
//         max-height: 55vh;
//         min-width: 100%;
//       }
//     }

//     .intro-collage-vue {
//       .people-text {
//         height: 25vh;
//       }

//       .collage-image {
//         max-width: 103vh;
//       }

//       .quote {
//         width: 90%;

//         blockquote {
//           font-size: 1.6rem;
//         }

//         .detail {
//           font-size: 0.5em;
//         }
//       }
//     }

//     #footer-vue {
//       right: 5px;
//       left: 5px;
//     }
//   }
// }
