@import "./account.variable.scss";

@media (orientation: portrait) and (max-width: 414px) {
  $salutation-height: 12vh;

  .home {

    .form-group {
      margin-bottom: .65rem;
    }
    
    .intro-vision-vue
    {
      .quote {

        blockquote {
          font-size: 0.775rem;
        }

        .detail {
          font-size: 0.7em;
        }
      }
    }

    .intro-login-vue {
      max-width: 97%;
  
      .split {
        display: block;

        .split-half-left, .split-half-right, .split-60
        , .split-flex-1, .split-half-flush
        {
          width: 100%;
          padding-left: unset;
          padding-right: unset;
          
        }

        .split-half-flush {
          display: flex;
          vertical-align: middle;
          .split-for-cb {
            width: 10%;
            line-height: 1.5;
          }
        
          .split-for-label {
            width: 90%;
            color: $default-white;
            font-size: small;
          }
        }
       
      }
  
      .content {
        margin: auto;
        display: block;
        width: 97%;

        .hidden-left {
          display: none;
        }

        .login-banner {
  
          .salutation {
            width: 30vh;
            margin-bottom: 3vh;
            max-height: $salutation-height; 
          }
        }
  
        .heading {
          color: $default-white;
          margin-bottom: 3vh;
          letter-spacing:  .375vh;
          font-size: small;
        }
  
        input[type="text"], input[type="password"] {
          background: transparent;
          font-size: small;
        }
  
        input[type="text"]::placeholder
        , input[type="password"]::placeholder
        , textarea::placeholder {
          color: $default-sub-text; // $default-white;
          font-size:  xx-small;
        }
  
        .submit {
          padding-left: unset;
          padding-right: unset;
        
          button[type="submit"] {
            color: $default-white;
          }
        }

        .fa {
          font-size: 10px;
        }
  
        .other-info {
          margin: auto;
          display: block;
          text-indent: 1em;
          line-height: 2;
          color: $input-text-color;
          font-weight: 400;
          section {
            
            margin-left: 4%;
            .title {
              font-size: 1.4rem;
              font-weight: 500;
              letter-spacing: .1em;
            }
  
            p {
              letter-spacing: .04em;
              font-size: 1rem;
            }
          }
        }
      }
    }

    .intro-register-vue {
      max-width: 100%;

      .content {

        .hidden-left {
          display: none;
        }

        .text-muted {
      
          small {
            min-width: 100%;
            line-height: 1.4;
          }
        }

        input[type="text"], input[type="password"] {
          background: transparent;
          font-size: small;
        }
  
        input[type="text"]::placeholder
        , input[type="password"]::placeholder
        , textarea::placeholder {
          color: $default-sub-text; // $default-white;
          font-size:  xx-small;
        }
    
        button {
          padding: .25%;
        }

        .heading {
          font-size: small;
          margin: auto;
          display: block;
          text-align: center;
        }

        .instructions {
          font-size: xx-small;
        }

        .register-banner {
          .salutation {
            width: 50vh;
            margin-bottom: 3vh;
            max-height: $salutation-height;
          }
        }

        .fa {
          font-size: 10px;
        }
      }
    }

    .intro-contact-vue {
      width: 97%;

      .content {
        width: 97%;

        .split {
          display: block;
          .split-half-right {
            width: 100%;
          }
        
          .split-half-left {
            width: 100%;
          }
        }

        input[type="text"], input[type="password"] {
          background: transparent;
          font-size: small;
        }
  
        input[type="text"]::placeholder
        , input[type="password"]::placeholder
        {
          color: $default-sub-text; // $default-white;
          font-size:  xx-small;
        }

        .text-area {
          font-size: small;
        }

        .heading {
          text-indent: 1em;
          margin-bottom: 2vh;
          font-size: small;
        }

        .fa {
          font-size: 10px;
        }
        
        .other-info {
          text-indent: 1em;
          line-height: .5;

          section {
            
            margin-left: 4%;
            .title {
              font-size: 1rem;
              letter-spacing: .1em;
            }
  
            p {
              letter-spacing: .04em;
              font-size: .875rem;
            }
          }
        }
      }
    }
  }
}
@media(height: 568px) and (width: 320px) {
  .home {

    .form-control {
      height: 1.775rem;
      padding: .25%;
      font-size: .875rem;
    }

    .intro-login-vue {
      max-width: 97%;
    }

    .intro-register-vue {
      .content {
       
        .submit {
          padding-top: 1vh;
          button[type="submit"] {
            font-size: .7rem;
          }
        }

        .heading {
          font-size: .75rem;
        }
      }
    }
    
    .intro-contact-vue {

      .content {

        form textarea {
          min-height: 60px;
        }

        .form-control {
          height: 1.775rem;
        }

        .heading {
          margin-bottom: .575vh;

        }

        .other-info {
          line-height: .5;
          font-weight: 400;
          section {
            
            margin-left: 4%;
            padding-top: 1%;
            
            .title {
              font-size: .875rem;
              letter-spacing: .1em;
            }
  
            p {
              letter-spacing: .04em;
              font-size: .675rem;
            }
          }
        }

      }

    }

   
  }
}

@media (height: 667px) and (width: 375px) {
  .footer-vue {
    line-height: 1;
  }
  .home {

    .intro-vision-vue {
      .quote {

        blockquote {
          font-size: .9em;
        }
      }
    }

    .intro-register-vue {

      .content {
        .register-banner {
          .salutation {
            width: 50vh;
            margin-bottom: 4vh;
          }
        }
      }
    }

    .intro-contact-vue {
      width: 95%;

      .content {
        .split {
          padding-bottom: 1%;
          display: block;
          .split-half-right {
            width: 100%;
            
          }
        
          .split-half-left {
            width: 100%;
          }
        }

        .heading {
          text-indent: 1em;
          margin-bottom: 1vh;
        }
        
        .other-info {
          margin: auto;
          display: block;
          text-indent: 1em;
          line-height: .5;
          color: $input-text-color;
          font-weight: 400;
          section {
            
            .title {
              font-size: 1rem;
              font-weight: 500;
              letter-spacing: .1em;
            }
  
            p {
              letter-spacing: .04em;
              font-size: .875rem;
            }
          }
        }
      }
    }
  }
}

@media (height: 731px) and (width: 411px) {
  .home {
    .intro-vision-vue {
      .quote {

        blockquote {
          font-size: 1em;
        }

        .detail {
          font-size: 0.8rem;
        }
      }
    }
  }
}

@media (height: 736px) and (width: 414px) {
  .home {
    .intro-vision-vue {

      .quote {

        blockquote {
          font-size: 1rem;
        }

        .detail {
          font-size: 0.7em;
        }
      }
    }
  }
}

@media (height: 812px) and (width: 375px) {
  .home {
    

    .intro-vision-vue {
      .quote {

        blockquote {
          font-size: 1em;
        }

        .detail {
          font-size: 0.7em;
        }
      }
    }
  }
}

@media (height: 823px) and (width: 411px) {
  .home {
    .intro-vision-vue {
      .quote {

        blockquote {
          font-size: 1.1rem;
        }

        .detail {
          font-size: 0.7em;
        }
      }
    }
  }
}

@media(min-height: 1024px)  {
  .home {

    .intro-login-vue {
      .content {
        .split {
          .split-flex-1 {
            padding-top: 1.69vh;
            padding: .4vh 0 .4vh .0;
          }
        }
      }
    }

    .intro-contact-vue {
      .content {
        .other-info {
          section {
            .title {
              font-size: 1.2rem;
            }
          }
        }
      }
    }

  }
  

 
 
}

@media(min-height: 1113px) {
  .home {
    .intro-login-vue {
      .content {
        .split {
          .split-flex-1 {
            // padding-top: 1.69vh;
            padding: .4vh 0 .4vh .0;
          }
        }
      }
    }
  }
}

// Landscape
@media (orientation: landscape) and (max-height: 414px) {
  $vision-wrapper-width: 85vw; 
  .home {
    .form-control {
      height: 2rem;
      padding: .25%;
      font-size: .875rem;
    }

    .intro-home-vue {
      .top-wrapper {
        width: 135vh;
        height: 40vh;
      }

      .bottom-wrapper {
        width: 125vh;
        height: 55vh;
      }
    }

    .intro-vision-vue {
      max-width: $vision-wrapper-width;
      .people-text {
        // max-width: 60vw;
        display: none;
      }

      .collage-image {
        // max-width: 45vw;
        max-width: 60vw;
      }

      .quote {
        blockquote {
          font-size: 0.8rem;
        }

        .detail {
          font-size: 0.8em;
        }
      }
    }

    .intro-login-vue {

      .split {
        .split-for-cb {
          line-height: .5;
        }

        .split-for-label {
          font-size: smaller;
        }
      }
      .content {
        width: 100%;
        .heading {
          font-size: small;
        }


        input[type="text"], input[type="password"] {
          background: transparent;
          font-size: small;
        }
  
        input[type="text"]::placeholder
        , input[type="password"]::placeholder
        , textarea::placeholder {
          color: $default-sub-text; // $default-white;
          font-size:  xx-small;
        }

        button[type="submit"] {
          font-size: small;
        }

        .fa {
          font-size: 10px;
        }
  
      }
      
    }

    .intro-register-vue {
      .split {
        padding: .05vh;
      }

     
      .submit {
        padding-top: 1vh;
      }

      .text-muted {
        .form-text {
          font-size: x-small;
        }
      }

      .instructions {
        
        .split {
          padding: .1vh;

          .split-right {
            padding: 0;
            padding-left: 1vh;
            width: 50%;
          }
    
          .split-left {
            padding: 0;
            padding-right: 1vh;
            width: 50%;
          }
        }
      }

      .content {
        width: 100%;
        .heading {
          font-size: small;
          text-align: center;
        }
        .register-banner {
          .salutation {
            margin-bottom: 1vh;
            width: 38vw;

          }
        }

        .fa {
          font-size: 10px;
        }

        input[type="text"], input[type="password"] {
          background: transparent;
          font-size: small;
        }
  
        input[type="text"]::placeholder
        , input[type="password"]::placeholder
        , textarea::placeholder {
          color: $default-sub-text; // $default-white;
          font-size:  xx-small;
        }

        button[type="submit"] {
          font-size: small;
        }

        
      }

    }

    .intro-contact-vue {
      .split {
        padding: .05vh;
      }
      .content {
        height: 80vh;
        form {
          padding: .5vh 0 .5vh 0;
        }


        button {
          padding: .25%;
        }

        .heading {
          text-indent: 1em;
          margin-bottom: 2vh;
          font-size: small;
        }

        .landscape {
          .heading {
            text-indent: .2em;
          }
        }

        input[type="text"], input[type="password"] {
          background: transparent;
          font-size: small;
        }
  
        input[type="text"]::placeholder
        , input[type="password"]::placeholder
        {
          color: $default-sub-text; // $default-white;
          font-size:  xx-small;
        }


        button[type="submit"] {
          font-size: small;
        }

        .text-area {
          font-size: small;
          min-height: 20vh;
        }
        
        .other-info {
          text-indent: 1em;
          line-height: .5;
          
          section {
            
            margin-left: -2.5vh;
           
            .title {
              font-size: 1rem;
              font-weight: 500;
              letter-spacing: 1em;
            }
            
            .landscape-contact {
              margin: auto;
              display: block;
              color: $default-white;
            }

            p {
              letter-spacing: .08em;
              font-size: .775rem;
            }
          }
        }
      }
    }

    .footer-vue {
      right: 10px;
      left: 10px;
      bottom: -5px;

      .social small{
        display: none;
      }
    }

  }

}

@media(width: 568px) and (height: 320px) {
  .home {
    .form-control {
      height: 1.775rem;
      padding: .25%;
      font-size: .875rem;
    }

    .form-group {
      margin-bottom: .75rem;
    }

   
    .intro-vision-vue {
      // .people-text {
      //   max-width: 70vw;
      // }

      // .collage-image {
      //   max-width: vw;
      // }

      .quote {
        blockquote {
          font-size: 0.75rem;
        }

        .detail {
          font-size: .8em;
        }
      }
    }

    .intro-register-vue {
      max-width: 97%;

      .form-group {
        margin-bottom: .3rem;
      }

    }

    .intro-contact-vue {
      .content {

        
        .heading {
          font-size: small;
        }
        .other-info {
          section {
            p {
              font-size: .65rem;
            }
          }
        }
      }
    }
  }
}

@media (width: 667px) and (height: 375px) {
  .home {
    .intro-register-vue {

      .form-control {
        height: 1.6rem;
      }

      .content-vue {
        .content {
          .landscape-contact {
            letter-spacing: .145em;
          }
        }
      }
    }

    #footer-vue {
      right: 5px;
      left: 5px;
    }
  }
}

@media (width: 731px) and (height: 411px) {
  .home {
    .intro-vision-vue {

      .quote {

        blockquote {
          font-size: .9rem;
        }

        .detail {
          font-size: 0.65em;
        }
      }
    }

    .intro-contact-vue {
      .content {
        .other-info {
          section {
            margin-left: -2%;
            p {
              letter-spacing: .13em;
            }
          }
          
        }
      }
    }

    #footer-vue {
      right: 5px;
      left: 5px;
    }
  }
}

@media (width: 736px) and (height: 414px) {
  .home {
    .intro-vision-vue {

      .quote {
        blockquote {
          font-size: .9rem;
        }
      }
    }

      
    //   }
    // }

    .intro-contact-vue {
      .content {
        .other-info {
          section {
            p {
              letter-spacing: .14em;
            }
          }
          
        }
      }
    }

    #footer-vue {
      right: 5px;
      left: 5px;
    }
  }
}

@media (width: 812px) and (height: 375px) {

  .home {
    .form-group {
      margin-bottom: .2rem;
    }

    .intro-vision-vue {

      .people-text {
        max-width: 52vw;
        display: none;
      }

      .collage-image {
        // max-width: 35vw;
        max-width: 49vw;
      }

      .quote {
        blockquote {
          font-size: 0.9rem;
        }
      }
     

    }

  
    .intro-contact-vue {
      .content {
        .other-info {
          section {
            .landscape-contact {
              margin-top: 2vh;
            }
            
            p {
              letter-spacing: .2em;
            }
          }
          
        }
      }
    }

    .footer-vue {
      left:30px;
      #footer-vue {
        right: 10px;
        left: 10px;
      }
    }
  }

 
}

@media (width: 823px) and (height: 411px) {
  .home {
    .intro-vision-vue {

      .people-text {
        // max-width: 55vw;
        display: none;
      }

      .collage-image {
        // max-width: 40vw;
        max-width: 54vw;
      }

      .quote {
        blockquote {
          font-size: .9rem; 
        }
      }

    }

    .intro-contact-vue {
      .content {
        .other-info {
          section {
            p {
              letter-spacing: .22em;
            }
          }
          
        }
      }
    }

    .footer-vue {
      left:20px;
      #footer-vue {
        right: 10px;
        left: 10px;
      }
    }
  }
}

@media(width: 1024px) and (max-height: 768px) {
  .home {
    .intro-home-vue {
      line-height: 1.5;
      .top-wrapper {
        max-height: 45vh;
        min-width: 100%;
      }

      .bottom-wrapper {
        max-height: 55vh;
        min-width: 100%;
      }
    }

    .intro-vision-vue {

      .people-text {
        max-width: 70vw;
      }

      .collage-image {
        max-width: 65vw;
      }

      .quote {

        .detail {
          font-size: 0.6em;
        }
      }
    }

    .footer-vue {
      left:20px;
      #footer-vue {
        right: 10px;
        left: 10px;
      }
    }

  }
}

@media(width: 1112px) and (max-height: 834px) {
  .home {

    .intro-home-vue {
      line-height: 1.5;
      .top-wrapper {
        max-height: 45vh;
        min-width: 100%;
      }

      .bottom-wrapper {
        max-height: 55vh;
        min-width: 100%;
      }
    }

    .intro-vision-vue {

      .people-text {
        max-width: 70vw;
      }

      .collage-image {
        max-width: 65vw;
      }

      .quote {

        .detail {
          font-size: 0.6em;
        }
      }
    }
  }
}

@media(min-width: 1113px)  {
  .home {

    .intro-home-vue {
      line-height: 1.5;
      .top-wrapper {
        max-height: 45vh;
        min-width: 100%;
        .top-banner {
          margin: auto;
          display: block;
          width: 90%;
        }
      }

      .bottom-wrapper {
        max-height: 55vh;
        min-width: 100%;
        .bottom-banner {
          margin: auto;
          display: block;
          width: 90%;
        }
      }
    }

    .intro-vision-vue {

      .people-text {
        max-width: 53vw;
      }

      .collage-image {
        max-width: 53vw;
      }

      .quote {

        .detail {
          font-size: 0.6em;
        }
      }
    }

    .intro-contact-vue {
      .content {

        .contact-banner {
          margin: auto;
          display: block;
  
          .salutation {
            margin: auto;
            display: block;
            width: 150vh;
          }
        }
  
        .note-vue {
          margin: auto;
          display: block;
          width: 150vh;
  
        }
      }
    }
  }
}

