$vue-detail-header-color: #efefef;
$vue-detail-header-bg-white: #fff;
$vue-detail-header-bg-grey: #c8c8c8;
$blockquote-color: #515769;
$nav-logo-grey: #515769;
$default-font-color: #515769;

@media (min-width: 540px) {
  form {
    padding-right: 15px;
    padding-left: 15px;
    .fieldset {
      margin-right: -15px;
      margin-left: -15px;
    }
    .field-group {
      padding-right: 15px;
      padding-left: 15px;
    }
    .legend {
      font-size: 1.5rem;
      line-height: 1.5;
      padding-right: 15px;
      padding-left: 15px;
    }
    label.primary.empty {
      -webkit-transform: scale(2) translateY(22px);
      transform: scale(2) translateY(22px);
    }
    .style-select {
      .ss-selected-option.primary {
        font-size: 1.5rem;
        line-height: 1.5;
      }
      .ss-selected-option.primary + .style-select {
        .ss-selected-option {
          font-size: 1.5rem;
          line-height: 1.5;
        }
      }
    }
    input[type="email"].primary {
      font-size: 1.5rem;
      line-height: 1.5;
    }
    input[type="email"].primary + .style-select {
      .ss-selected-option {
        font-size: 1.5rem;
        line-height: 1.5;
      }
    }
    input[type="text"].primary {
      font-size: 1.5rem;
      line-height: 1.5;
    }
    input[type="text"].primary + .style-select {
      .ss-selected-option {
        font-size: 1.5rem;
        line-height: 1.5;
      }
    }
    select.primary {
      font-size: 1.5rem;
      line-height: 1.5;
    }
    select.primary + .style-select {
      .ss-selected-option {
        font-size: 1.5rem;
        line-height: 1.5;
      }
    }
    textarea.primary {
      font-size: 1.5rem;
      line-height: 1.5;
    }
    textarea.primary + .style-select {
      .ss-selected-option {
        font-size: 1.5rem;
        line-height: 1.5;
      }
    }
    .error {
      font-size: 0.75rem;
      line-height: 1.5;
    }
  }
  body {
    font-size: 1.125rem;
    line-height: 1;
    > header {
      padding-right: 15px;
      padding-left: 15px;
    }
    > footer {
      a.logo {
        margin-left: 0;
        margin-right: 0;
      }
      .navs {
        width: auto;
        min-width: 0;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
      }
    }
  }

  main {
    padding-right: 15px;
    padding-left: 15px;
    > article {
      margin-right: -15px;
      margin-left: -15px;
      > .inner {
        padding-right: 15px;
        padding-left: 15px;
      }
    }
  }
  .primary-navigation {
    .social {
      small {
        br {
          display: block;
        }
      }
    }
  }
  h1 {
    font-size: 5.6875rem;
  }
  h2 {
    font-size: 3.75rem;
  }
  h3 {
    font-size: 2.5rem;
    line-height: 1.6666666667;
  }
  h4 {
    font-size: 1.6875rem;
    line-height: 1.5555555556;
  }
  h5 {
    font-size: 1.5rem;
    line-height: 1.5;
  }
  small {
    font-size: 0.75rem;
    line-height: 1.5;
  }
  .nbsp {
    white-space: nowrap;
  }
 
  .social {
    text-align: right;
    small {
      br {
        display: none;
      }
    }
  }
  ul.social-links {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  
}


@media (min-width: 720px) {
  form {
    padding-right: 15px;
    padding-left: 15px;
    .fieldset {
      margin-right: -15px;
      margin-left: -15px;
    }
    .field-group {
      padding-right: 15px;
      padding-left: 15px;
    }
    .checkbox-group {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      label {
        &:not(:first-child) {
          margin-left: 48px;
        }
      }
    }
    .radio-group {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      label {
        &:not(:first-child) {
          margin-left: 48px;
        }
      }
    }
   
  }
  body {
    > header {
      padding-right: 15px;
      padding-left: 15px;
    }
  }
  .background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    .img {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
    img {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 50%;
      min-width: 100%;
      min-height: 100%;
      margin: 0;
      max-width: none;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
    }
  }

  main {
    padding-right: 15px;
    padding-left: 15px;
    > article {
      margin-right: -15px;
      margin-left: -15px;
      > .inner {
        padding-right: 15px;
        padding-left: 15px;
      }
    }
  }
  .primary-navigation {
    right: 25px;
    left: 25px;
    
  }
  .banner {
    h1 + h2 {
      padding-right: 15px;
      padding-left: 15px;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 83.3333333333%;
      flex: 0 0 83.3333333333%;
      max-width: 83.3333333333%;
      br {
        display: block;
      }
    }
    p {
      padding-right: 15px;
      padding-left: 15px;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 83.3333333333%;
      flex: 0 0 83.3333333333%;
      max-width: 83.3333333333%;
      br {
        display: block;
      }
    }
  }
  
  ul.social-links {
    li {
      margin-left: 18px;
    }
  }
 
}
@media (max-width: 1139px) {
  .primary-navigation {
    .menu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-flex: 0;
      -ms-flex: none;
      flex: none;
      position: fixed;
      top: 0;
      right: 0;
      height: 100vh;
      width: 320px;
      padding: 48px 60px;
      background-color: #1e2122;
      color: #fff;
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
      -webkit-transition: -webkit-transform 350ms ease-out;
      transition: -webkit-transform 350ms ease-out;
      transition: transform 350ms ease-out;
      transition: transform 350ms ease-out, -webkit-transform 350ms ease-out;
      a {
        color: #fff;
        &:active {
          color: #ff3d25;
        }
        &:focus {
          color: #ff3d25;
        }
        &:hover {
          color: #ff3d25;
        }
      }
      .toggle {
        display: inline-block;
      }
    }
    .menu.active {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
    .pages {
      margin-bottom: 48px;
      margin-right: 12px;
      li {
        opacity: 0;
        visibility: hidden;
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0);
        -webkit-transition: opacity 350ms, visibility 0s 350ms, -webkit-transform 350ms ease-out;
        transition: opacity 350ms, visibility 0s 350ms, -webkit-transform 350ms ease-out;
        transition: opacity 350ms, transform 350ms ease-out, visibility 0s 350ms;
        transition: opacity 350ms, transform 350ms ease-out, visibility 0s 350ms, -webkit-transform 350ms ease-out;
        &:nth-child(1) {
          display: block;
        }
      }
    }

   
  }
  
}
@media (min-width: 1140px) {


  .about-vue > main > {
    header {
      margin-left: 6%;
    }

    article > .primary {
      padding-bottom: 3%;
    }
  }

  .privacy-vue {
    padding-left: 18%;
    padding-right: 18%;
    padding-bottom: 5%;
    > main {
      > header {
        margin-top: 12%;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 66.6666666667%;
        flex: 0 0 66.6666666667%;
        max-width: 66.6666666667%;
        margin-left: 0%;
      }
    }
  }
  form {
    padding-right: 15px;
    padding-left: 15px;
    .fieldset {
      margin-right: -15px;
      margin-left: -15px;
    }
    .field-group {
      padding-right: 15px;
      padding-left: 15px;
    }
    .legend {
      padding-right: 15px;
      padding-left: 15px;
    }
    
  }
  .banner {
    margin-top: 0;
    height: calc(40vh - 55px);
    h1 {
      br {
        display: block;
      }
    }
    h2 {
      br {
        display: block;
      }
    }
    h1 + h2 {
      padding-right: 15px;
      padding-left: 15px;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 66.6666666667%;
      flex: 0 0 66.6666666667%;
      max-width: 66.6666666667%;
    }
    p {
      padding-right: 15px;
      padding-left: 15px;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 66.6666666667%;
      flex: 0 0 66.6666666667%;
      max-width: 66.6666666667%;
    }
  }
  body {
    > footer {
      .inner {
        margin-right: auto;
        margin-left: auto;
        max-width: 1140px;
      }
      .navs {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
      }
      nav.site {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 66.6666666667%;
        flex: 0 0 66.6666666667%;
        max-width: 66.6666666667%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
      }
      .social {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3333333333%;
        flex: 0 0 33.3333333333%;
        max-width: 33.3333333333%;
      }
    }
  }

  main {
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 0;
    > article {
      margin-right: -15px;
      margin-left: -15px;
      > .inner {
        padding-right: 15px;
        padding-left: 15px;
      }
    }
  }

  .primary-navigation {

    .toggle {
      display: none;
    }
    .pages {
      margin-right: 20px;
      margin-left: 20px;
      display: none;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      overflow: hidden;
      
      
      a {
        padding: 10px;
        &::after {
          left: 10px;
          right: 10px;
          bottom: 5px;
        }
      }

      .menu {
        overflow: hidden;
      }
    
    }

    .active-nav {
      display: flex;
    }
    .social {
      display: none;
    }
  }

}
@media (min-width: 1340px) {
  
  .about, .privacy {
    .about-vue {
      padding-bottom: 4%;

      main {
        header {
          margin-left: 5.5%;
          white-space: nowrap;
          color: $vue-detail-header-color;
        }
        article {
          .primary {
            padding-bottom: 1%;
          }
          .text {
            .blockquote {
              font-size: 3.4rem;
            }
          }
        }
      }
    }

    .privacy-vue {
      padding-bottom: 4%;

      main {
        header {
          margin-left: 5.5%;
          white-space: nowrap;
          color: $vue-detail-header-color;
        }
        article {
          .primary {
            padding-bottom: 1%;
          }
          .text {
            .blockquote {
              font-size: 3.4rem;
            }
          }
        }
      }
    }

    .footer-vue {
      position: fixed;
      z-index: 0;
    }
  }

}
@media (min-width: 1440px) {
  form {
    padding-right: 15px;
    padding-left: 15px;
    .fieldset {
      margin-right: -15px;
      margin-left: -15px;
    }
    .field-group {
      padding-right: 15px;
      padding-left: 15px;
    }
  }
  body {
    > header {
      padding-right: 15px;
      padding-left: 15px;
    }
  }

  main {
    padding-right: 15px;
    padding-left: 15px;
    > article {
      margin-right: auto;
      margin-left: auto;
      max-width: 1140px;
      > .inner {
        padding-right: 15px;
        padding-left: 15px;
      }
    }
  }

  .primary-navigation {
    .pages {

      a {
        padding: 30px;
        &:after {
          left: 30px;
          right: 30px;
          bottom: 20px;
        }
    }

    }
   
  }

  // .primary-navigation {
  //   .pages {
  //     margin-right: 30px;
  //     margin-left: 30px;
  //     display: -webkit-box;
  //     display: -ms-flexbox;
  //     display: none;
  //     -webkit-box-pack: end;
  //     -ms-flex-pack: end;
  //     justify-content: flex-end;
  //     -webkit-box-align: center;
  //     -ms-flex-align: center;
  //     align-items: center;
  //     a {
  //       padding: 30px;
  //       &:after {
  //         left: 30px;
  //         right: 30px;
  //       }
  //     }
  //   }

  //   .active-nav {
  //     display: flex;
  //   }
  //   .social {
  //     display: none;
  //   }
  // }
  .banner {
    h1 + h2 {
      padding-right: 15px;
      padding-left: 15px;
    }
    p {
      padding-right: 15px;
      padding-left: 15px;
    }
  }
  
}

// Max-height
@media (max-height: 320px) {
  .primary-navigation {
    .menu {
      padding: 28px 60px;
    }
  }
}

// Max-width
@media (max-width: 539px) {
  .privacy-vue {
    > main {
      > header {
        margin-top: 20%;
        margin-left: -6%;
      }
    }
  }
  form {
    .field-group[data-for="submit"] {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      button {
        width: 100%;
        min-width: 0;
        max-width: 150px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        &:not(:first-child) {
          margin-left: 18px;
        }
      }
    }
  }
  .banner {
    padding-right: 15px;
    padding-left: 15px;
  }
  main {
    > .banner {
      padding-right: 0;
      padding-left: 0;
    }
  }
}

// Portrait
@media(orientation: portrait) and (max-height: 823px) {
  .header-vue {
    left: 10px;
    right: 10px;
    #head-logo {
      width: 250px;
      height: 35px;
    }
  }

  .footer-vue {

    #foot-logo {
      display: none;
    }
  }
}
@media (height: 568px) and (width: 320px) {

  .privacy {
    .privacy-vue {
      main {
        header {
          margin-left: -7%;
        }

        article {
          .primary {
            .image {
              min-width: 55%;
            }
            .text {
              .blockquote {
                font-size: .955rem;
              }
            }
          }
        }
      }
    }
   
  }
  .about {
    .about-vue {
      main {
        header {
          margin-left: -7%;
          margin-top: 11%;
        }

        article {
          font-size: 0.80rem;
          .primary {
            .image {
              min-width: 55%;
            }
            .text {

              .blockquote {
                font-size: .955rem;
              }
            }
          }
        }
      }
    }
  }

  .social {
    text-align: center;
  }

}

@media (height: 667px) and (width: 375px) {
  
  .about {
    .about-vue {
      main {
        header {
          margin-left: -6%;
          margin-top: 12%;
        }

        article {
          font-size: 0.90rem;
          .primary {
            .image {
              min-width: 60%;
            }
            .text {

              .blockquote {
                font-size: 1.08rem;
              }
            }
          }
        }
      }
    }
  }


  .privacy {
    .privacy-vue {
      main {
        header {
          margin-left: -6%;
        }
      }
    }
   
  }
}

@media (min-height: 812px) and (width: 375px) {
  
  .about {
    .about-vue {
      main {
        header {
          margin-left: -5%;
          margin-top: 12%;
        }

        article {
          font-size: 0.90rem;
          .primary {
            .image {
              min-width: 60%;
            }
            .text {

              .blockquote {
                font-size: 1.069rem;
              }
            }
          }
        }
      }
    }
  }


  .privacy {
    .privacy-vue {
      main {
        header {
          margin-left: -6%;
        }
      }
    }
   
  }
}

@media (height: 731px) and (width: 411px) {

  .about {
    .about-vue {
      main {
        header {
          margin-left: -5%;
          margin-top: 12%;
        }

        article {
          font-size: 0.90rem;
          .primary {
            .image {
              min-width: 60%;
            }
            .text {

              .blockquote {
                font-size: 1.15rem;
              }
            }
          }
        }
      }
    }
  }


  .privacy {
    .privacy-vue {
      main {
        header {
          margin-left: -5.5%;
        }
      }
    }
   
  }
 
}

@media (height: 736px) and (width: 414px) {
 
  .about {
    .about-vue {
      main {
        header {
          margin-left: -5%;
          margin-top: 11%;
        }

        article {
          font-size: 0.9rem;
          .primary {
            .image {
              min-width: 55%;
            }
            .text {
              font-size: 1.4em;
              .blockquote {
                font-size: 1.236rem;
              }

              
            }
          }
        }
      }
    }
  }


  .privacy {
    .privacy-vue {
      main {
        header {
          margin-left: -5%;
        }
      }
    }
   
  }
  
}

@media (min-height: 823px) and (max-width: 411px) {
 
  
  .about {
    .about-vue {
      main {
        header {
          margin-left: -5%;
          margin-top: 12%;
        }

        article {
          font-size: 0.90rem;
          .primary {
            .image {
              min-width: 60%;
            }
            .text {

              .blockquote {
                font-size: 1.18rem;
              }
            }
          }
        }
      }
    }
  }


  .privacy {
    .privacy-vue {
      main {
        header {
          margin-left: -5.5%;
        }
      }
    }
   
  }
  
}

@media(height: 1024px) and (width: 768px) {

  .header-vue {
    left: 10px;
    right: 10px;
  }

  .about {
    .about-vue {
      main {
        header {
          margin-left: -2.5%;
          margin-top: 11%;
        }

        article {
          font-size: 0.9rem;
          .primary {
            .image {
              min-width: 55%;
            }
            .text {
              font-size: 1.4rem;
              .blockquote {
                font-size: 2.293rem;
              }

              
            }
          }
        }
      }
    }
  }


  .privacy {
    .privacy-vue {
      main {
        header {
          margin-left: -3%;
        }
      }
    }
   
  }

  .footer-vue {
    left: 10px;
    right: 10px;
  }
  

}

@media(height: 1112px) and (width: 834px) {

  .header-vue {
    left: 10px;
    right: 10px;
  }

  

  .about {
    .about-vue {
      main {
        header {
          margin-left: -2.5%;
          margin-top: 11%;
        }

        article {
          font-size: 0.9rem;
          .primary {
            .image {
              min-width: 55%;
            }
            .text {
              font-size: 1.4rem;
              .blockquote {
                font-size: 2.293rem;
              }

              
            }
          }
        }
      }
    }
  }


  .privacy {
    .privacy-vue {
      main {
        header {
          margin-left: -3%;
        }
      }
    }

    .footer-vue {
      position: fixed;
    }
   
  }

}


// landscape
@media (orientation: landscape) and (height: 320px) {
  .header-vue {
    top: 4px;
    right: 10px;
    left: 10px;

    #head-logo {
      width: 280px;
      height: 28px;
    }
  }



  .about {
    .about-vue {
      main {
        header {
          margin-left: -3%;
          margin-top: 11%;
        }
        article {
          .primary {
            .image {
              min-width: 55%;
            }
            .text {
              .blockquote {
                font-size: 1.67rem;
              }
              .detail {
                font-size: .65rem;
              }
            }
          }
        }
      }

    }
   
  }

  .privacy {
    .privacy-vue {
      main {
        header {
          margin-left: -4%;
          margin-top: 11%;
        }
      }
    }
   
  
  }

  .footer-vue {
    right: 10px;
    left: 10px;

    .social small{
      display: none;
    }
  }
  
}

@media (width: 667px) and (height: 375px) {
  
  .header-vue {
    top: 4px;
    right: 10px;
    left: 10px;

    #head-logo {
      width: 300px;
      height: 30px;
    }
  }

  

  .about {
    .about-vue {
      main {
        header {
          margin-left: -3%;
          margin-top: 11%;
        }
        article {
          .primary {
            .image {
              min-width: 55%;
            }
            .text {
              .blockquote {
                font-size: 1.95rem;
              }
              .detail {
                font-size: 0.6rem;
              }
            }
          }
        }
      }
    }
    
  }

  .privacy {
    .privacy-vue {
      main {
        header {
          margin-left: -4%;
        }
      }
    }
  }

  .footer-vue {
    right: 10px;
    left: 10px;
    bottom: 3px;

    .social small{
      display: none;
    }
  }
  
}

@media (width: 731px) and (height: 411px) {
  
  .header-vue {
    top: 4px;
    right: 10px;
    left: 10px;

    #head-logo {
      width: 350px;
      height: 35px;
    }

    .initial {
      min-height: 7vh;
    }
  }

  

  .about {
    .about-vue {
      main {
        header {
          margin-left: -2.5%;
          margin-top: 11%;
        }
        article {
          .primary {
            .image {
              min-width: 55%;
            }
            .text {
              .blockquote {
                font-size: 2.18rem;
              }
              .detail {
                font-size: 0.6rem;
              }
            }
          }
        }
      }

    }
 
  }

  .privacy {
    .privacy-vue {
      main {
        header {
          margin-left: -3%;
        }
      }
    }
  }

  .footer-vue {
    right: 10px;
    left: 10px;
    bottom: 3px;

    .social small{
      display: none;
    }
  }
  
}

@media (width: 736px) and (height: 414px) {
  
  .header-vue {
    top: 4px;
    right: 10px;
    left: 10px;

    #head-logo {
      width: 350px;
      height: 35px;
    }

    .initial {
      min-height: 7vh;
    }
  }

 

  .about {
    .about-vue {
      main {
        header {
          margin-left: -2.5%;
          margin-top: 11%;
        }
        article {
          .primary {
            .image {
              min-width: 55%;
            }
            .text {
              .blockquote {
                font-size: 2.1rem;
              }
              .detail {
                font-size: 0.6rem;
              }
            }
          }
        }
      }

    }
   
  }

  .footer-vue {
    right: 10px;
    left: 10px;
    bottom: 3px;

    .social small{
      display: none;
    }
  }
  
}

@media (width: 812px) and (height: 375px) {
  
  .header-vue {
    top: 4px;
    right: 10px;
    left: 10px;

    #head-logo {
      width: 400px;
      height: 33px;
    }

    .initial {
      min-height: 8vh;
    }
  }

  .about {
    .about-vue {
      main {
        header {
          margin-left: -2.5%;
          margin-top: 11%;
        }
        article {
          .primary {
            .image {
              min-width: 55%;
            }
            .text {
              .blockquote {
                font-size: 2.4rem;
              }
              .detail {
                font-size: 0.6rem;
              }
            }
          }
        }
      }
    }
  
  }

  .privacy {
    .privacy-vue {
      main {
        header {
          margin-left: -3%;
        }
      }
    }
  }

  .footer-vue {
    right: 10px;
    left: 10px;
    bottom: 3px;

    .social small{
      display: none;
    }
  }
  
}

@media (width: 823px) and (height: 411px) {
  
  .header-vue {
    top: 4px;
    right: 10px;
    left: 10px;

    #head-logo {
      width: 400px;
      height: 33px;
    }

    .initial {
      min-height: 8vh;
    }
  }

  

  .about {
    .about-vue {
      main {
        header {
          margin-left: -2.5%;
          margin-top: 11%;
        }
        article {
          .primary {
            .image {
              min-width: 55%;
            }
            .text {
              .blockquote {
                font-size: 2.3rem;
              }
              .detail {
                font-size: 0.6rem;
              }
            }
          }
        }
      }
    }
  }

  .privacy {
    .privacy-vue {
      main {
        header {
          margin-left: -2.6%;
        }
      }
    }
  }

  .footer-vue {
    right: 10px;
    left: 10px;
    bottom: 3px;

    .social small{
      display: none;
    }
  }
  
}

@media(width: 1024px)  and (height: 768px) {

  .header-vue {
    top: 5px;
    left: 10px;
    right: 10px;
  }

  .home {
    .intro-banner {
      .masg-wrapper {
        display: none;
      }
    }
    .intro-about-vue {
      .about-banner {
        display: none;
      }
      .quote {
        width: 85%;

        blockquote {
          font-size: 2rem;
        }

        .detail {
          font-size: 0.6em;
        }
      }
    }
  }

  .about {
    .about-vue {
      main {
        header {
          margin-left: -2%;
          margin-top: 11%;
        }

        article {
          font-size: 0.9rem;
          .primary {
            .image {
              min-width: 55%;
            }
            .text {
              font-size: 1.4em;
              .blockquote {
                font-size: 2.5rem;
              }

              
            }
          }
        }
      }
    }
  }

  .privacy {
    .privacy-vue {
      main {
        header {
          margin-left: -2.4%;
        }
      }
    }
  }

  .footer-vue {
    left: 10px;
    right: 10px;
  }
  

} 

@media(width: 1112px)  and (height: 834px) {

  .header-vue {
    top: 5px;
    left: 10px;
    right: 10px;
  }

  // .home {
  //   .intro-banner {
  //     .masg-wrapper {
  //       display: none;
  //     }
  //   }
  //   .intro-about-vue {
  //     .about-banner {
  //       display: none;
  //     }
  //     .quote {
  //       width: 85%;

  //       blockquote {
  //         font-size: 2rem;
  //       }

  //       .detail {
  //         font-size: 0.6em;
  //       }
  //     }
  //   }
  // }

  .about {
    .about-vue {
      main {
        header {
          margin-left: -1.8%;
          margin-top: 11%;
        }

        article {
          font-size: 0.9rem;
          .primary {
            .image {
              min-width: 55%;
            }
            .text {
              font-size: 1.4em;
              .blockquote {
                font-size: 2.5rem;
              }

              
            }
          }
        }
      }
    }
  }

  .privacy {
    .privacy-vue {
      main {
        header {
          margin-left: -2%;
        }
      }
    }

    .footer-vue {
      position: fixed;
    }

  }
  

} 

